{{ define "main" }}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="content" itemprop="articleBody">
    {{ .Content }}
  </div>

  {{ with .Resources.ByType "text" }}
    {{ range . }}
      {{ if strings.HasPrefix . "album" }}
        <div class="article-gallery">
          {{ range $i, $url := strings.Split .Content "\n" }}
            {{ $url := strings.Trim $url "\r\n" }}
            <a class="gallery-item" href="{{ $url }}" rel="gallery">
              <img src="{{ $url }}" itemprop="image" />
            </a>
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  {{ end }}

</article>
{{ end }}